NODE_ENV=development
PORT=4000

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=antlysis_loyalty_dev
DB_NAME_TEST=antlysis_loyalty_test
DB_USER=postgres
DB_PASSWORD=postgres

JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10
