NODE_ENV=development
PORT=4000
FRONTEND_URL=http://localhost:5173

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=loyalty_program_dev
DB_NAME_TEST=antlysis_loyalty_test
DB_USER=postgres
DB_PASSWORD=antlysisTest26

JWT_SECRET=change-me-in-production
JWT_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-this-admin-password